body{
    margin: 0px;
    padding: 0px;
}
.header_section{
    background: #2a8178;
}
.main_header{

}
.top_header{
    max-width: 100%;
}
.top_header_background{
    background: #1b756d !important;;
}
ul.top_header_left{
    margin: 0;
    padding: 0;
    float: left;
    max-width: 90%;
    list-style: none;
}
.top_header ul li{
    display: inline-block;
}
.top_header_left li a{
    color: #fff;
    font-size: 10px;
    border-right: 1px solid #fff;
    letter-spacing: 1px;
    padding: 0px 3px;
}
.top_header ul li:last-child a{
    border-right:none;
}
.top_header ul li a:hover{
    text-decoration: underline;
}
.nav_header{
    margin-top: 10px;
/*    padding: 5px;*/
}
.navbar_img{
    max-width: 205px;
    float: left;
    padding: 8px 0px;
    height: 48px;
}
.nav_header_back{
    background-color: #1e8178;
    padding: 4px 0px;
}
.display{
    display:none;
}
.form_one{
    width: 60%;
    float: left;
}
/*.form {

    border-radius: 5px;
    padding: 1px 0px;
}*/
input[type="text"] {
    padding: 6px 13px;
    font-size: 15px;
    position: inherit;
    min-width: 100%;
    top: 9px;
    border-radius: 5px;
    border: none;
}
.img_height {
    width: 253px;
}
ul.navbar_nav{
    float: right;
    display: block;
    max-width: 81%;
}
.navbar_nav li{
    display: inline-block;
    text-align: right;
    padding: 1px 30px;
    list-style: none;
}
.navbar_nav{}
.navbar_nav{}
.navbar_nav{}

.nav_img{
    background:url(login_icon.svg)no-repeat;
    height: 20px;
    max-width: 21px;
    margin: 0 auto;
}
.nav_text {
    max-width: 60px;
    text-align: center;
}
span.login{
    display: inline-block;
    color: white;
    font-family: "futuraStd-Heavy" !important;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 0 0;
    letter-spacing: 2px;
    vertical-align: bottom;
    max-width: 100%;
}
.nav_img_1{
    background: url(truck_icon.svg)no-repeat;
    max-width: 34px;
    height: 18px;
    margin: 0 auto;

}
.nav_img_2{
    background:url(fav_icon.svg)no-repeat;
    max-width: 24px;
    height: 19px;
    margin: 0 auto
}.nav_img_3{
     background:url(cart_icon.svg)no-repeat;
     max-width: 28px;
     margin: 0 auto;
     height: 21px;
}
span.badge.badge_1 {
    background: red;
    position: relative;
    top: -3px;
    left: 16px;
}
.serch_bar{
    position: relative;
    top: -2px;
    left: -2%;
    float: right;
}
.serch_bar img {
    max-width: 30px;
}
.serch_bar a {
    text-decoration: none;
}
ul.dropnav{
    float: left;
    display: block;
    max-width: 100%;
}
ul.dropnav li{
    list-style: none;
    float: left;
    padding: 3px 25px;
}
ul.dropnav li a{
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 3px;
}

ul.footer-header li {
    float: left;
    max-width: 11%;
    border: 2px solid;
}
ul.footer-header li a{

}
